  <!-- Footer -->
  <footer id="footer">
    <div class="footer-copyright">
      <div class="container" style="padding: 15px;">
        <div class="d-sm-flex justify-content-between copyright-wrap" style="display: flex;
        flex-direction: row;
        justify-content: space-between;">
          <div> <span class="text-white copyright-text">© Copyright 2023. All Rights Reserved.</span> </div>
          <div>
            <div class="d-sm-flex flex-column align-items-center">
              <div> <span class="poweredby-text">Powered by: iQE Platform</span> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</footer>